<div class="container">
  <h1>Create a new Profile</h1>

  <%= render 'shared/form' %>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAviT1l4GQiiFiBvUpZ6lAuTYjsRp7kFi8"></script>
<% end %>
