body {
  font-style: helvetica;
}
h2{
  font-size: 34px;
}
.profile_content {
  background-color: white;
  box-shadow: 1px gray;
  margin-top: 20px;
  padding: 20px;
}
.portifolio_content {
  background-color: white;
  box-shadow: 1px gray;
  margin-top: 50px;
  padding: 10px;
}
.social_links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 90px;
}

.social_links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 26px;
  color: rgba(0,0,0,0.3);
}
.social_links a:hover {
    opacity: 1;
    text-decoration: none;
    color: gray;
  }

.photo_container {

}
.reviews_profile {
  background-color: white;
  padding: 10px 10px 0 10px;
  text-align: left;
}
.review {
  background: #F4F4F4;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.review-content {
  text-align: left;
}
.review-rating {
  text-align: left;
}
.grey-star {
  color: gray;
}
.skills-name {
  color: #32B796;
  display: inline-block;
  border-radius: 20px;
  padding: 5px 10px;
  border: solid 1px #32B796;
}
.user-infos {
  text-align: center;
  padding-left: 35px;
}
.competence {
  text-align: center;
}
