<div class="container">
  <div class="card">
    <% link_to profile_path(profile.id) %>
      <div class="card-description">
        <h2> <%= profile.user.first_name %> </h2>
        <p> <%= profile.user.photo %> </p>
      </div>
  </div>
</div>





