<div class="message">
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="message-name">
    <h3>Gab de la Broue</h3>
    <p>10/07/17</p>
  </div>
  <div class="message-body">
    <p><strong> XX Project!</strong></p>
    <p>
    Mission : Amélioration ou refonte de sites internet déjà existant
    </p>
  </div>
  <div class="message-status">
    <p class="status pending">Pending</p>
    <p class="price">€345</p>
  </div>
</div>
