<div class="banner" style="background-image: linear-gradient(-225deg, rgba(78, 78, 78, 0.6) 0%, rgba(109, 109, 109, 0.6) 50%), url('http://res.cloudinary.com/aurelbigo/image/upload/v1502802146/home_banner_tvvxqv.jpg');">
  <div class="banner-content">
    <h1> Loue ton DEV </h1>
    <p> pour une bouchée de pain </p>
    <%= render partial: 'shared/search_form' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% Profile.all.sample(4).each do |profile| %>
      <div class="col-xs-12 col-sm-4 col col-md-3">
      <%= render 'shared/card', profile: profile %>
      </div>
    <% end %>
  </div>
</div>



