
<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
  <div class="tabs">
      <a class="tab active" data-target="#user">
        <h3>User</h3>
      </a>
      <a class="tab" data-target="#developper" >
        <h3>Developper</h3>
      </a>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="tab-content" id="user">`
    <% @reservations.each do |reservation| %>
    <%= render "shared/reservation", reservation: reservation %>
    <% end %>
  </div>
  <div class="tab-content hidden" id="developper">
    <%= link_to 'Create your dev profile', new_profile_path, class: 'btn btn-success' %>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/tabs.js"></script>

