p {
  text-align: left;
}
.reservation_date {
  font-size: 0.7em;
  margin: 0 auto;
}


.reviews_profile {
  background-color: white;
  padding: 10px 10px 0 10px;
}
.reservation {
  background: #F4F4F4;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 5px 10px;
}
.reservation-body {

}
.reservation-name {

}
.reservation-status {

}
#accept {
  margin-bottom: 5px;
}
.user-infos {
  padding-left: 35px;
}
.last-children {
  margin-bottom: 50px;
}
