<div class="col-sx-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
<%= simple_form_for [@review, @profile] do |f| %>

  <%= f.input :description %>
  <%= f.input :rating, :colletion => [1, 2, 3, 4, 5]%>
  <%= f.submit "add a review", class: "btn btn-success" %>
<% end %>

</div>

